<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorApp"
        tools:targetApi="31">
        <activity
            android:name=".BrainActivity"
            android:exported="false" />
        <activity
            android:name=".Doctor4Activity"
            android:exported="false" />
        <activity
            android:name=".EyeActivity"
            android:exported="false" />
        <activity
            android:name=".TeethActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".HeartActivity"
            android:exported="false" />
        <activity
            android:name=".Doctor3Activity"
            android:exported="false" />
        <activity
            android:name=".Doctor2Activity"
            android:exported="false" />
        <activity
            android:name=".Doctor1Activity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.noactionbar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>